<div class="container">
  <nav class="navbar bg-primary">
    <div class="tabs no-select">
      <div class="hidden-mobile" routerLink="/">
        <img ngSrc="assets/nsv.png" alt="Телефонный справочник" height="40" width="242">
      </div>
      <div
        class="tab square"
        *ngFor="let tab of tabs"
        (click)="onTabClick(tab)"
        [ngClass]="{'tab-selected': tab.id === currentTab}">
        {{tab.name}}
      </div>
    </div>
  </nav>

  <div class="content">

    <app-post-page
      *ngIf="currentTab === 1"
      [posts]="posts"
      [start$]="start$"
      [isAdmin]="isAdmin"
      (remove)="remove.emit($event)"
      (post)="post.emit($event)"/>

    <app-post-trader-page *ngIf="currentTab === 2"/>
    <app-partners-page *ngIf="currentTab === 3"/>
    <app-post-portativ-page *ngIf="currentTab === 4"/>

    <app-post-page-fired
      *ngIf="currentTab === 6"
      [posts]="posts"
      [start$]="start$"
      [isAdmin]="isAdmin"
      (remove)="remove.emit($event)"
      (post)="post.emit($event)"/>

  </div>
</div>
