.container {
}

.tabs {
  display: flex;
  gap: 6px;
  margin-left: 2px;
  align-items: center;
}

.tab {
  /*border: 1px solid gray;*/
  cursor: pointer;
}

.tab-selected {
  background: #e66200;
}

.content {
  margin-top: -1px;
  z-index: 2;
  background: white;
}

.admin-button {
  margin-left: auto; /* Это позволит кнопке выравниваться вправо */
}
