<!-- Форма поиска -->
<div class="curs-row" [formGroup]="filterForm" *ngIf="filterForm">
  <div class="curs-cell">
    <div class="form-control">
      <label>Поиск
        <input formControlName="filter" type="text" #filterInput>
      </label>
    </div>
  </div>
</div>

<!-- Таблица с данными -->
<div class="table">
  <div class="table-row table-header">
    <div class="table-cell-trader-shot" (click)="sort('codeTO', $event)">Код То</div>
    <div class="table-cell-trader" (click)="sort('city', $event)">Город</div>
    <div class="table-cell-trader" (click)="sort('address', $event)">Адрес ТО</div>
    <div class="table-cell-trader" (click)="sort('place', $event)">Месторасположение</div>
    <div class="table-cell-trader" (click)="sort('operator', $event)">Оператор</div>
    <div class="table-cell-trader" (click)="sort('schedule', $event)">График работы ТО</div>
    <div class="table-cell-trader" (click)="sort('phone', $event)">Телефон ТО</div>
    <div class="table-cell-trader" (click)="sort('headOfSector', $event)">Начальник Сектора</div>
  </div>
</div>

<div *ngIf="postDataTraders | async as data">
  <div class="table-row hovered" *ngFor="let post of data | filterPostsTraders:filterForm.get('filter').value | sortColumn:sortColumn" (click)="rowClick(post)">
    <div class="table-cell-trader" [innerHTML]="post.traders.codeTO | highlightText:filterForm.get('filter').value"></div>
    <div class="table-cell-trader" [innerHTML]="post.traders.city | highlightText:filterForm.get('filter').value"></div>
    <div class="table-cell-trader" [innerHTML]="post.traders.address | highlightText:filterForm.get('filter').value"></div>
    <div class="table-cell-trader" [innerHTML]="post.traders.place | highlightText:filterForm.get('filter').value"></div>
    <div class="table-cell-trader" [innerHTML]="post.traders.operator | highlightText:filterForm.get('filter').value"></div>
    <div class="table-cell-trader" [innerHTML]="post.traders.schedule"></div>
    <div class="table-cell-trader" [innerHTML]="post.traders.phone | highlightText:filterForm.get('filter').value"></div>
    <div class="table-cell-trader" [innerHTML]="post.traders.headOfSector | highlightText:filterForm.get('filter').value"></div>
    <div  class="table-cell-10 table-cell-icons"> <span class="btn minus-button" *ngIf="dashboardAdmin" >-</span>  </div>
  </div>
</div>

<!-- Модальное окно -->
<app-modal-page *ngIf="modalService.isOpenTrader$ | async">
  <form [formGroup]="modalForm">
    <h2>Изменение записи телефонной книги</h2>

    <div class="form-control"><label> Код ТО <input type="text" formControlName="codeTO"> </label></div>
    <div class="form-control"><label> Город <input type="text" formControlName="city"> </label></div>
    <div class="form-control"><label> Адрес ТО <input type="text" formControlName="address"> </label></div>
    <div class="form-control"><label> Месторасположение <input type="text" formControlName="place"> </label></div>
    <div class="form-control"><label> Оператор <input type="text" formControlName="operator"> </label></div>
    <div class="form-control"><label> График работы ТО <input type="text" formControlName="schedule"> </label></div>
    <div class="form-control"><label> Телефон ТО <input type="text" formControlName="phone"> </label></div>
    <div class="form-control"><label> Начальник Сектора <input type="text" formControlName="headOfSector"> </label> </div>
    <div class="modal-buttons">

      <button
        type="button"
        class="btn btn-dark"
        (click)="updateModalFormPortativ()">
        Обновить запись
      </button>

      <button
        type="button"
        class="btn btn-dark"
        (click)="copyModalFormPortativ()">
        Скопировать запись
      </button>

      <button
        type="button"
        class="btn btn-dark"
        (click)="deleteRecordModal()">
        Удалить запись
      </button>

    </div>
  </form>
</app-modal-page>
