<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Войти как Администратор</h2>

  <div class="form-control">
    <label for="email">Логин</label>
    <input id="email" type="email" formControlName="email">
  </div>

  <div class="form-control">
    <label for="password">Пароль</label>
    <input id="password" type="password" formControlName="password">
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    >Войти</button>
</form>


