<nav class="navbar bg-primary">
    <h1>
        <a routerLink="/">Панель администратора</a>
    </h1>
    <ul *ngIf="authService.isAuthenticated()" >
        <li routerLinkActive="active">
            <a [routerLink]="['/admin', 'dashboard']">Главная</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/admin', 'create']">Создать</a>
        </li>
        <li>
            <a href="#" (click)="logout($event)">Выход</a>
        </li>
    </ul>
</nav>
<div class="container">
    <router-outlet/>
</div>
