<div *ngIf="postData | async as data">
  <form [formGroup]="form" (ngSubmit)="createPost()">
    <h1>Создание новой записи в справочник</h1>

    <div class="form-control">
      <label>Тип записи
        <ng-select formControlName="typeRecord" [searchable]="false" [clearable]="false">
          <ng-option *ngFor="let record of typeRecord" [value]="record.id">{{record.name}}</ng-option>
        </ng-select>
      </label>
    </div>
    <div class="form-control" [ngClass]="{invalid: form.get('jobTitle').touched && form.get('jobTitle').invalid}">
      <label>
        {{form.get('typeRecord').value === 'normal' ? 'Должность' : 'Наименование заголовка'}}
        <input type="text" formControlName="jobTitle">
        <div *ngIf="form.get('jobTitle').touched && form.get('jobTitle').invalid" class="validation">
          <small *ngIf="form.get('jobTitle').errors.required">Обязательно для заполнения</small>
        </div>
      </label>
    </div>
    <div class="form-control" *ngIf="form.get('typeRecord').value === 'normal'">
      <label>Ответственный за
        <input type="text" formControlName="responsibleFor">
      </label>
    </div>
    <div class="form-control" *ngIf="form.get('typeRecord').value === 'normal'">
      <label>ФИО
        <input type="text" formControlName="fullName">
      </label>
    </div>
    <div class="form-control" *ngIf="form.get('typeRecord').value === 'normal'">
      <label>Телефон
        <input type="text" formControlName="phone">
      </label>
    </div>
    <div class="form-control" *ngIf="form.get('typeRecord').value === 'normal'">
      <label>Порядок записи
        <input type="text" formControlName="OrderRecord">
      </label>
    </div>

    <div class="form-control" *ngIf="form.get('typeRecord').value === 'normal'">
      <label>Принадлежность к разделу
        <ng-select formControlName="parent" [searchable]="false" [clearable]="false" [virtualScroll]="true" dropdownPosition="auto">
          <ng-option *ngFor="let header of filteredHeaders" [value]="header.id">{{header.officeCells.jobTitle}}</ng-option>
        </ng-select>
      </label>
    </div>

    <button type="submit" class="btn btn-block btn-dark" [disabled]="form.invalid" (click)="refreshPage()">
      Создать запись в справочнике
    </button>

<!--    <button type="button" class="btn btn-block btn-dark" (click)="logHelloWorld()">-->
<!--      Тест кнопка-->
<!--    </button>-->
  </form>
  <br><br><br><br><br><br><br><br><br><br>
  <!--  <ul>-->
<!--    <li *ngFor="let post of data">-->
<!--      {{ post.typeRecord }}-->
<!--    </li>-->
<!--  </ul>-->
</div>
