.hovered:hover {
  background-color: #f2efef;
  cursor: default;
}

.header, .header:hover {
  background: #757979;
  color: #ffffff;
  font-family: 'Textbook Bold', sans-serif;
  font-weight: bold;
  grid-template-columns: 1fr;
  text-align: center;
}
