<div class="curs-row" [formGroup]="filterForm" *ngIf="filterForm">
  <div class="curs-cell">
    <div class="form-control">
      <label>Поиск
        <input formControlName="filter"
               autofocus
               type="text" #filterInput>
      </label>
    </div>
  </div>
</div>

<!-- Таблица для firedStatus === 2 -->
<div class="table4">
  <div class="table-row-title table-header">
<!--    <div class=" hidden-mobile">Дата</div>-->
    <div class=" hidden-mobile">Должность</div>
    <div class=" hidden-mobile">Ответственный за</div>
    <div class="">ФИО</div>
    <div class="">Телефон</div>
  </div>
</div>

<!-- Вывод только записей, где firedStatus === 2 -->
<ng-container *ngFor="let post of posts | filterPosts:filterForm.get('filter').value">
  <div class="table-row-fired hovered"
       *ngIf="post.firedStatus === 2"
       [ngClass]="post.typeRecord"
       (click)="rowClick(post)">
    <div class="table-cell-10">
      {{ post.date | date:'dd.MM.yyyy' }}
    </div>
    <div class="table-cell-10"
         [innerHTML]="post.officeCells.jobTitle | highlightText:filterForm.get('filter').value">
    </div>
    <div class="table-cell-10">
      {{ post.officeCells.responsibleFor }}
    </div>
    <div class="table-cell-10"
         [innerHTML]="post.officeCells.fullName | highlightText:filterForm.get('filter').value">
    </div>
    <div class="table-cell-10"
         [innerHTML]="post.officeCells.phone | highlightText:filterForm.get('filter').value">
    </div>

    <!-- Блок с админскими кнопками -->
    <div class="table-cell-10 table-cell-icons">
      <span class="btn minus-button" *ngIf="isAdmin && !haveChildren(post)">-</span>
    </div>

    <div class="table-cell-10" *ngIf="isAdmin"
         [innerHTML]="post.order.toLocaleString() | highlightText:filterForm.get('filter').value">
    </div>
  </div>
</ng-container>
