<div class="curs-row" [formGroup]="filterForm" *ngIf="filterForm">
  <div class="curs-cell">
    <div class="form-control">
      <label>Поиск
        <input formControlName="filter"
               autofocus
               type="text" #filterInput>
      </label>
    </div>
  </div>
</div>

<div class="table">
  <div class="table-row-title table-header">
    <div class="table-cell-10 hidden-mobile">Должность</div>
    <div class="table-cell-10 hidden-mobile">Ответственный за</div>
    <div class="table-cell-10">ФИО</div>
    <div class="table-cell-10">Телефон</div>
  </div>
</div>

<ng-container *ngFor="let post of posts | groupPosts | filterPosts:filterForm.get('filter').value">
  <!-- Фильтрация по firedStatus -->
  <div class="table-row hovered"
       *ngIf="post.firedStatus !== 2"
       [ngClass]="post.typeRecord"
       (click)="rowClick(post)">
    <div class="table-cell-10 hidden-mobile"
         [innerHTML]="post.officeCells.jobTitle | highlightText:filterForm.get('filter').value">
    </div>
    <div class="table-cell-10 hidden-mobile" *ngIf="post.typeRecord !== 'header'">
      {{post.officeCells.responsibleFor}}
    </div>
    <div class="table-cell-10" *ngIf="post.typeRecord !== 'header'"
         [innerHTML]="post.officeCells.fullName | highlightText:filterForm.get('filter').value">
    </div>
    <div class="table-cell-10" *ngIf="post.typeRecord !== 'header'"
         [innerHTML]="post.officeCells.phone | highlightText:filterForm.get('filter').value">
    </div>

    <div class="table-cell-10 table-cell-icons" *ngIf="post.typeRecord !== 'header'">
      <span class="btn minus-button" *ngIf="isAdmin && !haveChildren(post)">-</span>
    </div>

    <div class="table-cell-10" *ngIf=" isAdmin && post.typeRecord !== 'header'"
         [innerHTML]="post.order.toLocaleString() | highlightText:filterForm.get('filter').value">
    </div>
  </div>
</ng-container>
