<!--<div>Main</div>-->
<!--<nav class="navbar bg-primary">-->
<!--    <h1>-->
<!--        <a routerLink="/">Телефонный справочник</a>-->
<!--    </h1>-->
<!--    <ul *ngIf="isAdminMode">-->
<!--        <li routerLinkActive="active">-->
<!--            <a [routerLink]="['/admin']">Режим Администратора</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->

<!--<div>Main-2</div>-->

<div class="container">
    <router-outlet/>
</div>
