<div *ngIf="postData | async as data">

  <app-tabs [isAdmin]="true"
            [posts]="data"
            (remove)="removePost($event)"
            (post)="initModalForm($event)"
            [start$]="start$"
            (tabChange)="onTabChange($event)"></app-tabs>

  <app-modal-page *ngIf="modalService.isOpen$ | async">
    <!-- Содержимое модального окна -->
    <form [formGroup]="formModal">
      <h2>Изменение записи телефонной книги</h2>

      <div class="form-control"
           [ngClass]="{invalid: formModal.get('jobTitle').touched && formModal.get('jobTitle').invalid}">
        <label>
          {{formModal.get('typeRecord').value === 'normal' ? 'Должность' : 'Наименование заголовка'}}
          <input type="text" formControlName="jobTitle">
          <div *ngIf="formModal.get('jobTitle').touched && formModal.get('jobTitle').invalid" class="validation">
            <small *ngIf="formModal.get('jobTitle').errors.required">Обязательно для заполнения</small>
          </div>
        </label>
      </div>
      <div class="form-control" *ngIf="formModal.get('typeRecord').value === 'normal'">
        <label>Ответственный за
          <input type="text" formControlName="responsibleFor">
        </label>
      </div>
      <div class="form-control" *ngIf="formModal.get('typeRecord').value === 'normal'">
        <label>ФИО
          <input type="text" formControlName="fullName">
        </label>
      </div>
      <div class="form-control" *ngIf="formModal.get('typeRecord').value === 'normal'">
        <label>Телефон
          <input type="text" formControlName="phone">
        </label>
      </div>
      <div class="form-control" *ngIf="formModal.get('typeRecord').value === 'normal'">
        <label>Порядок записи
          <input type="text" formControlName="order"> <!-- Добавлено поле order -->
        </label>
      </div>
      <div class="form-control" *ngIf="formModal.get('typeRecord').value === 'normal'">
        <label>Принадлежность к разделу
          <ng-select formControlName="parent" [searchable]="false" [clearable]="false">
            <ng-option *ngFor="let header of data | filterHeaders" [value]="header.id">{{header.officeCells?.jobTitle}}</ng-option>
          </ng-select>
        </label>
      </div>
      <div class="curs-cell">
        <button type="submit" class="btn btn-dark" (click)="updateModalForm()">Обновить запись</button>
        <button type="submit" class="btn btn-dark" (click)="copyRecord()">Копировать запись</button>
        <button type="submit" class="btn btn-dark" (click)="deleteRecordModal()">Удалить запись</button>
        <button *ngIf="currentTab !== 6" type="submit" class="btn btn-dark" (click)="updateModalForm(true)">Уволить</button>
        <button *ngIf="currentTab === 6" type="submit" class="btn btn-dark" (click)="updateModalForm()">Вернуть</button>
      </div>
    </form>
  </app-modal-page>

</div>
