.modal-basic {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.modal-basic-content {
    width: 700px;
    height: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: flex-end;*/
}

.modal-close {
    margin-top: 10px;
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.modal-actions {
    margin-top: 20px;
    margin-bottom: 20px;
}

.close {
    position: absolute;
    top: -23px;
    right: -24px;
}
