<div class="modal-basic">
    <div class="modal-basic-content">
        <button class="plus-button rotate close" (click)="closeModal()">+</button>
        <div>
            <h2>{{ title }}</h2>
            <div>{{ message }}</div>
            <div class="modal-actions">
                <button class="btn btn-dark">OK</button>
                <button class="btn btn-dark" (click)="closeModal()">Отмена</button>
            </div>
        </div>
    </div>
</div>
