@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "@ng-select/ng-select/themes/default.theme.css";

:root {
    --primary-color: #4a4c4c;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Textbook Bold', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    background-color: #fff;
    color: #333;
}

a {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #666;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1920px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    min-height: 60vh;
}

/*.container {*/
/*  padding: 0;*/
/*}*/

.text-primary {
    color: var(--primary-color);
}

.text-dark {
    color: var(--dark-color);
}

.text-success {
    color: var(--success-color);
}

.text-danger {
    color: var(--danger-color);
}

.text-center {
    text-align: center;
}

.card {
    padding: 1rem;
    border: #ccc 1px dotted;
    margin: 0.7rem 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content {
    margin-bottom: .5rem;
}

.list {
    margin: 0.5rem 0;
}

.list li {
    padding-bottom: 0.3rem;
}

.btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
}

.btn:disabled {
    cursor: not-allowed;
    background: var(--light-color);
    color: #111;
}

.btn-link {
    background: none;
    padding: 0;
    margin: 0;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-sm {
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
    margin-right: 0.2rem;
}

.badge {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.2rem 0.7rem;
    text-align: center;
    margin: 0.3rem;
    background: var(--light-color);
    color: #333;
    border-radius: 5px;
}

.alert {
    padding: 0.7rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
    background: var(--light-color);
    color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
    background: var(--danger-color);
    color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
    background: var(--success-color);
    color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
}

.btn:hover {
    opacity: 0.8;
}

.bg-light,
.badge-light {
    border: #ccc solid 1px;
}

.round-img {
    border-radius: 50%;
}

.form-control {
    display: block;
    color: #888;
    margin-bottom: .8rem;
}

.form-control.invalid {
    color: var(--primary-color);
}

.form-control.invalid input {
    border-color: var(--primary-color);
}

.form-control .validation {
    color: var(--primary-color);
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,textarea {
    display: block;
    width: 100%;
    padding: 0.2rem;
    font-size: 1rem;
    border: 2px solid #d9d5ce
}

input[type='submit'],
button {
    font: inherit;
}

.minus-button {
    background-color: #ae6057;
    /*background-color: var(--primary-color);*/
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: -8px auto;
    padding: 13px 18px 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 1rem;
    text-align: left;
}

table th {
    background: var(--light-color);
}

.currency-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*max-width: 1920px;*/
    margin: 0 auto;
}


.table {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    width: 100%;
    /*max-width: 1920px;*/
}

.table4 {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  width: 100%;
  /*max-width: 1920px;*/
}

.table-row {
    /*display: flex;*/
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 1fr .3fr .3fr .3fr;
}

.table-row-fired {
  /*display: flex;*/
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  align-items: center;
  display: grid;
  grid-template-columns: 0.6fr 1fr 2.8fr 1fr 1fr 0.1fr 0.1fr;
}

.table-row-title {
  /*display: flex;*/
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 1fr .3fr .3fr .3fr;
  text-align: center;
}

.table-header {
    font-weight: bold;
    background-color: #e0e0e0;
}

.table-cell {
    /*flex: 1;*/
    /*width: 22%;*/
    padding: 2px 2px;
}

.table-cell-10 {
  /*flex: 1;*/
  /*width: 10%;*/
  padding: 1px 1px;
}

.table-cell-15 {
  /*flex: 1;*/
  /*width: 15%;*/
  padding: 2px 2px;
}

.table-cell-5 {
  /*flex: 1;*/
  /*width: 15%;*/
  padding: 0.5px 0.5px;
}

.table-cell-20 {
  /*flex: 1;*/
  /*width: 20%;*/
  padding: 2px 2px;
}

.table-cell-25 {
  /*flex: 1;*/
  /*width: 25%;*/
  padding: 2px 2px;
}

.table-cell-40 {
  /*flex: 1;*/
  /*width: 40%;*/
  padding: 2px 2px;
}

.table-cell-trader {
    /*flex: 1;*/
    /*width: 25%;*/
    padding: 1px 1px;
}

.table-cell-partner {
  /*flex: 1;*/
  /*width: 25%;*/
  padding: 1px 1px;
}

.table-cell-trader-shot {
    /*flex: 1;*/
    /*width: 10%;*/
    padding: 4px 4px;
}

.table-cell-partner-shot {
  /*flex: 1;*/
  /*width: 10%;*/
  padding: 4px 4px;
}

.table-cell-icons {
    /*width: 3.3%;*/
  transform: scale(0.8);
    text-align: right;
}

.hidden-mobile {
    display: block;
}


.centered-squares {
  display: flex;
  justify-content: flex-start; /* Изменим на flex-start */
  align-items: center;
}

.no-select {
  user-select: none;
}

.square {
  width: 150px;
  height: 50px;
  background-color: #4a4c4c; /* Здесь можно указать желаемый цвет */

  text-align: center;
  line-height: 3.2;
  font-family: 'Textbook Bold', sans-serif;
  font-weight: bold;
  /*user-select: none;*/

  /*margin: 11px;*/
  /*Transform: skew(-45deg)*/
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 2rem;
    z-index: 1;
    width: 100%;
    /*opacity: 0.9;*/
    margin-bottom: 1rem;
}

.navbar.main {
    justify-content: center;
    border-bottom: 1px solid var(--dark-color);
}

.navbar ul {
    display: flex;
}

.navbar li.active a {
    color: var(--dark-color);
    font-weight: bold;
    cursor: default;
}

.navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
}

.navbar a:hover {
    color: var(--light-color);
}

.plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #39b449;
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.rotate {
    transform: rotate(45deg); /* Поворот на 45 градусов */
}

.modal {
    position: relative;
    /* Остальные стили для модального окна */
}

.arrow {
    width: 26px;
    height: 23px;
}

.up{
    transform: rotate(90deg);
}

.down{
    transform: rotate(270deg);
}

.table-cell.arrow {
    padding: 6px 8px;
}

.highlighted {
    background: #ffff00;
    font-weight: bold;
}

@media (max-width: 1000px) {

  .table-cell {
    flex-basis: 50%;
  }

  .square {
    width: 90px;
    height: 40px;
    background-color: #4a4c4c; /* Здесь можно указать желаемый цвет */

    text-align: center;
    font-size-adjust: inherit;
    line-height: 1.3;
    font-family: 'Textbook Bold', sans-serif;
    font-weight: bold;


    /*user-select: none;*/

    /*margin: 11px;*/
    /*Transform: skew(-45deg)*/
  }

  .hidden-mobile {
    display: none;
  }



  .table-row-title {
    /*display: flex;*/
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    align-items: start;
    display: grid;
    grid-template-columns: 5fr 5fr;
    text-align: center;
  }

  .table-row {
    /*display: flex;*/
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    align-items: start;
    display: grid;
    grid-template-columns: 5fr 5fr;
    text-align: center;
  }

  body {
    font-family: 'Textbook Bold', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.3;
    background-color: #fff;
    color: #333;
  }
}
