<div class="curs-row" [formGroup]="filterForm" *ngIf="filterForm">
  <div class="curs-cell">
    <div class="form-control">
      <label>Поиск
        <input formControlName="filter" autofocus type="text" #filterInput>
      </label>
    </div>
  </div>
</div>

<div class="table">
  <div class="table-row table-header">
    <div class="table-cell-partner-shot">Тип</div>
    <div class="table-cell-partner">Банк</div>
    <div class="table-cell-partner">Имя</div>
    <div class="table-cell-partner">Номер</div>
    <div class="table-cell-partner">Чем может помочь</div>
  </div>
</div>

<div *ngIf="postDataPartners | async as data">
  <div
    class="table-row hovered"
    *ngFor="let post of data | filterPostsPartners:filterForm.get('filter').value" (click)="rowClick(post)">
    <div class="table-cell-partner-shot" [innerHTML]="post.partners.serviceName | highlightText:filterForm.get('filter').value"></div>
    <div class="table-cell-partner"  [innerHTML]="post.partners.bankName | highlightText:filterForm.get('filter').value"></div>
    <div class="table-cell-partner"  [innerHTML]="post.partners.fullName | highlightText:filterForm.get('filter').value"></div>
    <div class="table-cell-partner" [innerHTML]="post.partners.phone | highlightText:filterForm.get('filter').value"></div>
    <div class="table-cell-partner" [innerHTML]="post.partners.description"></div>
    <div  class="table-cell-10 table-cell-icons"> <span class="btn minus-button" *ngIf="dashboardAdmin" >-</span>  </div>
  </div>
</div>

<app-modal-page *ngIf="modalService.isOpenPartners$ | async">
  <form [formGroup]="modalForm">
    <h2>Изменение записи телефонной книги</h2>

    <div class="form-control"><label>Тип <input type="text" formControlName="serviceName"> </label></div>
    <div class="form-control"><label>Банк <input type="text" formControlName="bankName"> </label></div>
    <div class="form-control"><label>Имя <input type="text" formControlName="fullName"> </label></div>
    <div class="form-control"><label>Номер <input type="text" formControlName="phone"> </label></div>
    <div class="form-control"><label>Чем может помочь <input type="text" formControlName="description"> </label></div>
    <div class="form-control"><label>Порядок записи<input type="text" formControlName="order"> </label></div>

    <div class="modal-buttons">

      <button type="button" class="btn btn-dark" (click)="updateModalFormPartners()">Обновить запись</button>
      <button type="button" class="btn btn-dark" (click)="copyModalFormPartners()">Скопировать запись</button>
      <button type="button" class="btn btn-dark" (click)="deleteRecordPartner()">Удалить запись</button>

    </div>
  </form>
</app-modal-page>
